:root {
    --headingcolor: #2A3855;
    --textcolor: #6A6A6A;
}

.headingcolor {
    color: var(--headingcolor) !important;
}

.textcolor {
    color: var(--textcolor);
}

.underheading {
    background-color: var(--headingcolor) !important;
    width: 90px !important;
    margin: 10px auto;
    padding: 1.3px;
    border-radius: 50px;

}


#abovenav {
    background-color: var(--headingcolor);

}

.abovenav i {
    color: rgb(245, 245, 5) !important;
    font-size: 16px !important;
}

.abovenav p {
    font-size: 14px !important;
    font-weight: 600;
}

.abov {
    margin-left: 230px !important;
}



.abovenav p {
    margin: 0px;
}




.button {
    border: 1.4px solid var(--headingcolor);

    border-radius: 50px;
}

.button:hover {
    color: white !important;
    background-color: var(--headingcolor);
    border-radius: 50px !important;

    transition-duration: .8s;
}

.mynavbar a {
    color: var(--headingcolor);
    font-size: 17px !important;
    font-weight: 600;
    padding-left: 20px !important;
}

.navbar{
    position: sticky;
    top: 0px !important;
    opacity: .9;
}

/*header starts here*/
.backimg img {
    max-height: 100vh !important;
}

.headingdiv {
    left: -7px !important;
    top: 0px !important;
    bottom: 0 !important;
    padding-left: 100px !important;
    padding-top: 100px !important;
     background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  padding: 20px 40px;
  display: inline-block;

}

.mainheading {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 10px !important;
}

.mainheadingtext {
    font-size: 30px !important;
    font-weight: light;
    margin-bottom: 50px !important;
}

.headerbtnblue {
    color: white !important;
    background-color: var(--headingcolor);
    font-size: 13px !important;
    font-weight: 800;
    padding: 12px 27px;

}

.headerbtnblue:hover {
    color: white !important;
    background-color: #222c41;
    transition-duration: .3s;
}

.headerbtnyellow:hover {
    color: var(--headingcolor) !important;
    background-color: rgb(230, 230, 102) !important;
    transition-duration: .3s;
}

.headerbtnyellow {
    color: var(--headingcolor);
    background-color: rgb(245, 245, 5);
    font-size: 13px !important;
    font-weight: 800;
    padding: 12px 24px;


}





.iconr1 {
    background-color: #f8f8f8 !important;
    border-radius: 100% !important;
    border: 1.2px solid rgb(218, 191, 191);
    padding: 26px !important;
}

.r2img img {
    width: 100%;
    height: 100vh;

    border-radius: 13px !important;
}







/*services starts here*/


.serimg img {
    width: 102% !important;
    margin: 0px !important;
}

.sertext {
    width: 47%;
}

.learnright:hover {
    text-decoration: underline !important;
    transition-duration: .3s !important;
    text-decoration-thickness: 1px !important;
    cursor: pointer;
}

.stratchating {
    cursor: pointer;
    color: var(--headingcolor) !important;
    font-size: 18px !important;
    font-weight: 600;
    text-decoration: none !important;

}

.stratchating:hover {
    text-decoration: underline !important;
    transition-duration: .3s;
    text-underline-offset: 5px !important;
}









/* why chiose us starts here*/







.chooseimg img {
    width: 100% !important;
    border-radius: 13px !important;
    overflow: hidden;
    padding: 0;


}

/* why chiose us ends here*/



/* wbluesection starts here*/

.bluesection {
    background-color: var(--headingcolor) !important;
    padding: 70px !important;

}

.contactus {
    text-decoration: none;
    color: var(--headingcolor) !important;
    font-size: 14px !important;
    font-weight: bold !important;
    border-radius: 50px !important;
    padding: 10px 30px 0 30px !important;
}

/* blue section ends here*/






/* blue section ends here*/


.form1 {
    margin-left: 30px !important;
    max-width: 27% !important;
    border: 1.3px solid rgb(245, 245, 5);
    border-radius: 10px !important;
    padding: 28px 20px !important;
    font-size: 14px !important;
}

.form2 {
    margin-left: 45px;
    width: 60% !important;
}

.form2 input {
    padding: 10px !important;
    padding-right:  auto ;
    width: 44% ;
    font-size: 12px !important;
    margin-left: 24px !important;
    border-radius: 6px !important;
    align-items: start;
    border:1px solid var(--headingcolor) !important;
    margin-top: 20px !important;
    margin-bottom: 14px !important;
}

.form2 a{
    background-color: rgb(245, 245, 5) !important;
    color: var(--headingcolor) !important;
    text-align: center;
    text-decoration: none;
    font-size: 12px !important;
    font-weight: bold;
    padding: 10px 124px ;
    margin-left: 24px !important;
    border-radius: 6px !important;
   
}


/* blue section ends here*/





/* global leadership starts here*/
.carimg img{
    width: 100%;
}
.carimg{
    margin: 0px !important;
    width: 33% !important;
    max-height: 10% !important;
}
.carimg .ptag{
    font-size: 12px !important;
}


/* global leadership ends here*/



/* blue section with bg img starts here*/


#bluebgimg{
    background-image: url(../img/pexels-olly-845457.jpg);
    background-size: 100% !important;

}
.background{
      background: linear-gradient(to right, rgba(76, 60, 112 .8), rgba(74, 66, 95, .8));
}
.bluebghead{
    color: rgb(245, 245, 5) !important;
    font-size: 55px !important;
    font-weight: bold;
}
/* blue section with bg img ends here*/